
.body {
  margin: 0px;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content:space-between;
  margin-bottom: 126px;
}

.logo {
  display: inline-block;
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px pt_serifbold, arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 28px;
  height: 28px;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.menu {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
}

.menu__item {
  position:relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration:none;
  transition:opacity.5s;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content:'';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after, .menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 5% 63% 220px 0;
  background: top right no-repeat url(img/mainImg.svg);
}

.main__title {
  margin: 0 0 35px 0;
  font: bold 66px pt_serifbold, arial, helvetica, sans-serif;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  width: 77%;
  margin: 0 0 40px 0;
  font: 22px Roboto, arial, helvetica, sans-serif;
}

.main__button {
  display: inline-block;
  font: 18px Roboto, arial, helvetica, sans-serif;
  letter-spacing: 0.15px;
  padding: 16px 28px;
  color: #fff;
  background: #0056ec;
  border-radius: 4px;
  text-decoration: none;
}

.main__button:hover {
  opacity: .5;
}

@media (max-width:1366px) {
  .wrapper {
    width: 70%;
  }

  .header {
    margin-bottom: 50px;
  }

  .logo {
    padding-left: 52px;
  }

  .logo__circle {
    left: 7px;
    top: 49%;
  }

  .logo__circle_color_blue {
    left: 18px;
    top: 56%;
  }

  .menu__item {
      font: 500 14px/21px Roboto, arial, helvetica, sans-serif;
  }

  .menu__item:last-child {
    margin-right: 24px;
  }

  .main {
    padding: 5% 50% 150px 0;
    background: top right no-repeat url(img/mainImg1366.svg);
  }


  .main__title {
    margin: 0 0 38px 0;
    font: bold 50px pt_serifbold, arial, helvetica, sans-serif;
    letter-spacing: 0.4px;
  }

  .main__subtitle {
    width: 80%;
    margin: 0 0 40px 0;
    font: 18px Roboto, arial, helvetica, sans-serif;
    letter-spacing: 0.2px;
  }

  .main__button {
    font: 14px Roboto, arial, helvetica, sans-serif;
  }

}

@media (max-width:1024px) {
  .wrapper {
    width: 93%;
  }

  .header {
    margin-bottom: 50px;
  }

  .logo {
    padding-left: 48px;
  }

  .logo__circle {
    left: 1px;
    top: 48%;
  }

  .logo__circle_color_blue {
    left: 11px;
    top: 56%;
  }

  .menu__item {
    margin-right: 26px;
  }

  .menu__item:last-child {
    margin-right: 19px;
  }

  .main {
    padding: 5% 50% 150px 0;
    background: top right no-repeat url(img/mainImg1024.svg);
  }


  .main__title {
    margin: 0 0 38px 0;
    font: bold 50px pt_serifbold, arial, helvetica, sans-serif;
    letter-spacing: 0.4px;
  }

  .main__subtitle {
    width: 80%;
    margin: 0 0 40px 0;
    font: 18px Roboto, arial, helvetica, sans-serif;
    letter-spacing: 0.1px;
  }

  .main__button {
    font: 14px Roboto, arial, helvetica, sans-serif;
    padding: 13px 20px;
  }

}

@media (max-width:768px) {
  .menu {
    display: none;
 }
 .header {
   margin-bottom: 28px;
 }

 .logo{
   bottom: 15px;
   right: 42px;
   font-size: 0;
 }

 .main {
   padding: 74% 0 0;
   background-size: 74%;
   background-position: top center;
 }

 .main__title {
   margin-bottom: 44px;
   font: bold 30px/39px pt_serif, arial, helvetica, sans-serif;
 }

 .main__subtitle {
   margin-bottom: 25px;
   font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
 }

 .main__button {
   font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
 }
}

@media (max-width:375x) {
  .wrapper{
    width: 80%;
  }

  .menu_item{
    display: none;
  }

  .header{
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .logo{
    bottom: 15px;
    right: 42px;
    font-size: 0;
  }

  .logo__circle {
    left: 21px;
    top: 48%;
    width: 41px;
    height: 41px;
  }

  .logo__circle_color_blue {
    left: 30px;
    top: 56%;
  }

  .main{
    padding: 60% 45px 0 0;
    background-size: 74% 0 0;
    background-position: top center;
  }

  .main__title {
    margin-bottom: 44px;
    font: bold 30px/39px pt_serifbold, arial, helvetica, sans-serif;
    letter-spacing: 0.4px;
  }

  .main__subtitle {
    margin-bottom: 25px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
    letter-spacing: 0.1px;
  }

  .main__button {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
  }


}
